
@{
    ViewBag.Title = "ConfirmPassword";
}

<h2>ConfirmPassword</h2>
@section ConfirmPassword{
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Login</title>
            <style>

                body {
                    background-image: url('../../Images/Home/LoginImg.jpg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                .login-container {
                    max-width: 400px;
                    margin: 0 auto;
                    margin-top: 100px;
                    padding: 20px;
                    border-radius: 5px;
                    height: 300px;
                    color: #060101;
                }

                .divider:after,
                .divider:before {
                    content: "";
                    flex: 1;
                    height: 1px;
                    background: #eee;
                }

                #or {
                    margin-top: -50px;
                }

                .text-muted {
                    color: #060101 !important;
                }

                .required::after {
                    content: ' *';
                    color: red;
                }
            </style>
            <script type="text/javascript">
                function matchpass() {
                    var firstpassword = document.f1.password1.value;
                    var secondpassword = document.f1.password2.value;

                    if (firstpassword == secondpassword) {
                        return true;
                    }
                    else {
                        alert("password must be same!");
                        return false;
                    }
                }
            </script>
        </head>
    <body>
        <div class="container" style="padding-bottom:50px">
            <div class="login-container bg-white" style="border: solid; border-color: #f15a28">
                <h2 class="text-center"><b>Confirm your Password</b></h2>
                <form name="f1" action="/Home/Login" method="post" onsubmit="return matchpass()">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Your Password" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
}


