
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@section ForgotPassword{

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>

        body {
            background-image: url('../../Images/Home/LoginImg.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .login-container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
            padding: 20px;
            border-radius: 5px;
            height: 290px;
            color: #060101;
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        #or {
            margin-top: -50px;
        }

        .text-muted {
            color: #060101 !important;
        }

        .required::after {
            content: ' *';
            color: red;
        }
    </style>
</head>
<body>
    <div class="container" style="padding-bottom:50px">
        <div class="login-container bg-white">
            <h2 class="text-center"><b>Forgot Password</b></h2>
            <br />
            <form>
                <div class="form-group">
                    <label class="required" for="Email/Contact Number">Email/Contact Number</label>
                    <input type="text" class="form-control" id="Email/Contact" name="Email/Contact" placeholder="Enter Your Email or Contact Number">
                </div>
                <div class="form-group">
                    <a class="btn btn-primary btn-block" href="/Home/OTP" role="button">Continue</a>

                </div>

            </form>
        </div>
    </div>
</body>
</html>
}


