

@{
    ViewBag.Title = "GetSourceDestinationList";
}

<h2>GetSourceDestinationList</h2>
@section GetSourceAndDestinationList{
    <div style="padding-top:100px;">
        <h1></h1>
    </div>
    
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
           
            input[type=text], input[type=password] {
                width: 120%;
                padding: 14px 25px;
                margin: 8px 0;
                border-radius: 30px;
             
            }

            #one {
                margin-left: 120px;
                margin-bottom: 120px;
                border: none;
               
               
            }

            #button1 {
                background-color: #f15a28;
                color: white;
                padding: 14px 25px;
                margin: 8px 0;
                width: 120%;
                border-radius: 30px;
            }



            #container {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                border-style: solid;
                border-color: #f15a28;
                border-radius: 30px;
                padding-top: 50px;
                padding-right: 200px;
                margin-bottom: 100px;
            }
            img {
                display: block;
                margin-left: 620px;
                margin-top: -330px;
                border-color: black;
                padding-top: -20px;
                padding-bottom: -20px;
                border-radius: 30px;
            }
            #Gift1 {
                display: block;
                margin-left:50px;
                margin-bottom: 30px;
                margin-top: -50px;
                border-color: black;
                border-radius:30px;
            }
            #Gift2 {
                margin-bottom: 30px;
                margin-top: -330px;
                border-radius: 30px;
                border-color: black;
            }
            .col-sm-8 {
                color:blue;
            }
        </style>

    </head>
    <body>

        <form action="process-form.php" method="post">
            <div id="border">
                <div class="col-sm-8">
                    <div id="container">
                        <div id="one">
                            <button style="border-color:brown" id="button1" type="button" class="cancelbtn">DOMESTIC</button>
                            <br />
                            <br />
                            <div>
                                <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
                                <label for="Origin/Shipper Pincode"><b>Origin/Shipper Pincode</b></label>
                                <br />
                                <input class="form-control" type="text" placeholder="Enter Origin Pincode" name="Origin/Shipper Pincode" pattern=" [1-9][0-9]{5}" />
                            </div>
                            <div>
                                <label for="Destination /Consignee Pincode"><b>Destination /Consignee Pincode</b></label>
                                <br />
                                <input class="form-control" type="text" placeholder="Enter Destination Pincode" name="Destination /Consignee Pincode" pattern=" [1-9][0-9]{5}" />
                            </div>
                            <br />
                            <div>
                                <button style="border-color:brown" id="button1" type="button" class="cancelbtn">Get started</button>
                            </div>
                            <img style="margin-bottom:70px;"id="Gift" height="270" width="380" src="~/Images/Home/Gift Vocher.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            

        </form>
        <img style="margin-left:30px;"id="Gift1" height="300" width="500" src="~/Images/Home/Gift Vocher1.jpg" />
       
        <img id="Gift2" height="300" width="500" src="~/Images/Home/Gift Vocher2.jpg" />
        <br />
    </body>
</html>

}





