
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>
@section Signup{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
        <style>
            body {
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../../Images/Home/SignupImg.jpg');
            }

            .login-container {
                max-width: 451px;
                margin: auto;
                margin-top: 35px;
                padding: 20px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                height: 580px;
            }
            .required::after {
                content: ' *';
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="login-container">
                <h2 class="text-center"><b>Signup</b></h2>
                <form>
                    <div class="form-group">
                        <label class="required" for="UserName">UserName</label>
                        <input type="text" class="form-control" id="UserName" placeholder="Enter Your UserName">
                    </div>
                    <div class="form-group">
                        <label class="required" for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" placeholder="Enter Your Email">
                    </div>
                    <div class="form-group">
                        <label class="required" for="Contact">Contact Number</label>
                        <input type="number" class="form-control" id="Contact" placeholder="Enter Your Contact Number">
                    </div>
                    <div class="form-group">
                        <label class="required" for="CreatePassword">Create Password</label>
                        <input type="password" class="form-control" id="CreatePassword" placeholder="Enter Your Password">
                    </div>
                    <div class="form-group">
                        <label class="required" for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" placeholder="Enter Your Confirm Password">
                    </div>                                   
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <h6 class="text-center">Already have an account? <a href="/Home/Login">Login</a></h6>
            </div>
        </div>
    </body>
</html>
}